# Environnement virtuel
venv/
__pycache__/
*.pyc

# Fichiers de données
*.txt
!requirements.txt
*.zip
*.xlsx

# Fichiers de test
test_*.py

# Token
.hf_token

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
